<div class="course-card" *ngIf="course" [ngClass]="cardClasses()">
  <div class="course-title" [ngStyle]="cardStyles()">
    {{ index }} {{ course.description }}
  </div>
  <ng-content select=".header-for-content"/>
  <ng-content select="course-image"/>

  <!--  <img *ngIf="course.iconUrl; else noImage" width="300" alt="Angular Logo" [src]="course.iconUrl">-->

  <!--  <ng-template #noImage>-->
  <!--    <h2>No Image Available</h2>-->
  <!--  </ng-template>-->

  <div class="course-description">
    {{ course.longDescription }}
  </div>
  <ng-container [ngSwitch]="course.category">
    <div class="course-category">
      <div class="category" *ngSwitchCase="'BEGINNER'">Beginner</div>
      <div class="category" *ngSwitchCase="'INTERMEDIATE'">Intermediate</div>
      <div class="category" *ngSwitchCase="'ADVANCED'">Advanced</div>
      <div class="category" *ngSwitchDefault>Unknown</div>
      <!--        @switch (course.category) {-->
      <!--          @case ("BEGINNER") {-->
      <!--            <div class="category">Beginner</div>-->
      <!--          }-->
      <!--          @case ("INTERMEDIATE") {-->
      <!--            <div class="category">Intermediate</div>-->
      <!--          }-->
      <!--          @case ("ADVANCED") {-->
      <!--            <div class="category">Advanced</div>-->
      <!--          }-->
      <!--          @default {-->
      <!--            <div class="category">Unknown</div>-->
      <!--          }-->
      <!--        }-->
    </div>
  </ng-container>

  <button (click)="onCourseViewed()">View Course</button>
</div>
